<html>
<head>
	<title>Himmlische Punkte</title>
	<style>
	.regie { font-style: italic; }
	p { margin-left: 5em; }
	p b.speaker { display: block; float: left; margin-left: -4em; text-align: right; }
	dl, p.regie { margin-left: 1em; }
	</style>
</head><body>
<h1>Himmlische Punkte</h1>

<h2>Dramatis Personæ</h2>

<dl>
	<dt>Angie</dt>
		<dd>ein Engel, weiß gekleidet, arrogant</dd>
	<dt>Lilly</dt>
		<dd>ein Dämon, schwarz oder rot gekleidet, lebhaft</dd>
	<dt>Felix</dt>
		<dd>ein Mensch, der von Angie und Lilly überwacht wird</dd>
</dl>

<h2>Stück</h2>
%%content%%
</body></html>
